<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inicio-administracion</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <nav>
            <img src="/static/img/logo.webp" alt="logo sena" width="80">
            <div class="nav-links">
                <a href="index.html">Inicio</a>
                <a href="mapa.html">Mapa</a>
                <a href="alquiler.html">Alquiler</a>
                <a href="eventos.html">Agregar eventos</a>
            </div>
            <a href="perfil.html" class="user-icon">
                <i class="fas fa-user-circle"></i>
            </a>
        </nav>
    </header>
    
</body>
</html>