<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SENA Bici - Inicio</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <img src="/static/img/logo.webp" alt="logo sena" width="80">
            <div class="nav-links">
                <a href="index.html">Inicio</a>
                <a href="mapa.html">Mapa</a>
                <a href="alquiler.html">Alquiler</a>
                <a href="eventos.html">Eventos</a>
            </div>
            <a href="perfil.html" class="user-icon">
                <i class="fas fa-user-circle"></i>
            </a>
        </nav>
    </header>
    
    <!-- CONTENIDO -->
    <main>
      <div class="text-content">
          <h2>Bienvenidos a SENA Bici</h2>
          <p>
            En SENA Bici creemos que la movilidad sostenible comienza con pequeños cambios.
            Por eso ponemos a tu disposición bicicletas seguras y accesibles para que puedas
            moverte de manera rápida, económica y saludable.
          </p>
          <p>
            Nuestro objetivo es fomentar el uso de la bicicleta como medio de transporte diario,
            además de promover eventos y actividades que integren a toda la comunidad.
          </p>
          <p>
            Súmate a esta iniciativa, disfruta del recorrido y vive la experiencia de moverte en dos ruedas 🚲.
          </p>
       </div>
    </main>

    <section class="galeria">
      <div class="card">
        <img src="/static/img/img1.webp" alt="Bicicleta 1">
        <h3>Bicicleta Montaña</h3>
        <p>Ideal para recorridos largos y terrenos irregulares.</p>
      </div>
      <div class="card">
        <img src="/static/img/img1.webp" alt="Bicicleta 2">
        <h3>Bicicleta Urbana</h3>
        <p>Perfecta para moverte en la ciudad de forma ágil y ecológica.</p>
      </div>
      <div class="card">
        <img src="/static/img/img1.webp " alt="Bicicleta 3">
        <h3>eventos a desarrollar</h3>
        <p>Disfruta nuestros eventos.</p>
      </div>
    </section>

    <!-- FOOTER -->
    <footer>
        <p>SENA Bici</p>
        <a href="#"><i class="fab fa-facebook"></i> Facebook</a> | 
        <a href="#"><i class="fab fa-instagram"></i> Instagram</a> | 
        <a href="#"><i class="fab fa-whatsapp"></i> WhatsApp</a>
    </footer>
</body>
</html>